<nav class="navbar">
    <div class="logo">VM-Interior Studio</div>
    <button class="menu-toggle" (click)="toggleMenu()">
      <span>&#9776;</span>
    </button>
    <ul [class.active]="menuOpen">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About Us</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  <app-home></app-home>
  <router-outlet></router-outlet>
  
  